/* Form Styles */
form {
  max-width: 600px; /* Sets the maximum width of the form to 600 pixels */
  margin: 20px auto; /* Adds margin on top and bottom, centers the form horizontally */
  padding: 20px; /* Adds padding inside the form */
  background-color: #f7f7f7; /* Sets the background color of the form to white */
  border-radius: 5px; /* Rounds the corners of the form */
}

/* Form Title Styles */
#form-title {
  text-align: center; /* Centers the text within the element with the ID "form-title" */
  margin: 0 25px 25px 0px;
}

/* Label Styles */
label {
  display: block; /* Sets the display property to block, making each label appear on a new line */
  margin: 10px 0 5px; /* Adds margin around the labels, providing space between them and other elements */
}

/* Input, Select, Textarea Styles */
input,
select,
textarea {
  width: 100%; /* Sets the width of input, select, and textarea elements to 100% of their container */
  padding-left: 10px; /* Adds padding inside these elements */
  padding-top: 10px; /* Adds padding inside these elements */
  padding-bottom: 10px; /* Adds padding inside these elements */

  margin-bottom: 10px; /* Adds margin at the bottom of these elements */
  box-sizing: border-box; /* Ensures that padding and border are included in the element's total width and height */
}

/* Button Styles */
button {
  background-color: #007bff;
  padding: 10px 15px; /* Adds padding on the top, bottom, left, and right of the button */
  border: none; /* Removes the border of the button */
  border-radius: 5px; /* Rounds the corners of the button */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
  color: white;
}

.reg-btn {
  width: 100%; /* Set the width of the button to 100% of its container */
}
